body {
  font-family: 'Merriweather','Microsoft Yahei', serif;
}

h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Lato','Microsoft Yahei', sans-serif;
}

.caption {
  text-align: center;
}

.figure img{
  max-width: 100%;
}


.nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }
  
  
@media (min-width: 600px) {
  .nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }
  
