body {
  font-family: 'Merriweather','Microsoft Yahei', serif;
}

h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Lato','Microsoft Yahei', sans-serif;
}

code {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: consolas;
}

.caption {
  text-align: center;
}

.figure img{
  max-width: 100%;
}


.nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }
  
.article-content a {
    box-shadow: inset 0 -1px 0 #CBF8DF;
}  

@media (min-width: 600px) {
  .nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }

div.article-footer,div.post-tags{
  font-size: 16px;
}  

div.article-footer hr{
  width: 45%;
  border-style: dashed;
  margin-bottom: 1em;
}

div.article-footer a:hover,div.post-tags a:hover{
  background: #CBF8DF;
}

div.article-footer a,div.post-tags a{
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  transition: background 150ms ease;  
}

.content{
  max-width: 750px;
}